<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Test suite" parallel="classes">
    <test name="test 1">
        <classes>
            <class name="org.homework.tests.AdditionTest"/>
            <class name="org.homework.tests.SubtractionTest"/>
        </classes>
    </test>
    <test name="test 2">
        <classes>
            <class name="org.homework.tests.MultiplicationTest"/>
            <class name="org.homework.tests.DivisionTest"/>
        </classes>
    </test>
</suite>
